/kafkaConsumer/.metadata
/kafkaConsumer/.metadata
/kafkaConsumer/.metadata
/kafkaConsumer/.metadata/*
/kafkaExample/.metadata/*
/.metadata
/kafkaConsumer/consumer/target/
/kafkaConsumer/consumer/target
